@font-face {
    font-family:'Fredoka One';
    src: url(./fuentes/Fredoka_One/FredokaOne-Regular.ttf) format(truetype);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Inria Sans';
    src: url(./fuentes/Inria_Sans/InriaSans-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body{
    width: 100%;
    background-color: lightseagreen;
}

/*Aquí empieza los estilos del navegador*/
nav{
    height: 8.375rem;
    width: 100%;
    background-color: #9ED8DB;
    
}

#marcoNavegador{
    position: absolute;
    width: 1400px;
    height: 85px;
    margin-left: 52px;
    margin-top: 21px;
    
    background: #E9FFF9;
    display: flex;
    flex-direction: row;
    
}

#logoNavegador{
    margin-top: .625rem;
    margin-left: .625rem;
    margin-bottom: .625rem;
}

.botonNavegador1{
    width: 188px;
    height: 66px;
    background-color: transparent;
    border: 3px solid #1D3354;
    border-radius: 10px; 
    font-family:'Fredoka One';
    color: #1D3354;
    text-align: center;
    margin-top: .375rem;
    margin-left: 12.5rem
}

.botonNavegador2{
    width: 188px;
    height: 66px;
    background-color: transparent;
    border: 3px solid #1D3354;
    border-radius: 10px; 
    font-family:'Fredoka One';
    color: #1D3354;
    text-align: center;
    margin-top: .375rem;
    margin-left: .625rem
}

.botonNavegador3{
    width: 28.125rem;
    height: 66px;
    background-color: transparent;
    border: 3px solid #1D3354;
    border-radius: 10px; 
    font-family:'Fredoka One';
    color: #1D3354;
    text-align: center;
    margin-top: .375rem;
    margin-left: .625rem;
    margin-right: .3125rem;
    display: flex;
    flex-direction: row;
    
}

#imagenBarraBusqueda{
    height: 4.0625rem;
    width: 4.0625rem;
    margin-left: 18.75rem;
    background-image: url(./archivos/iconos/icons8-búsqueda-64.png);
    background-size: cover;
    background-position: center;
}

.textoNavegador{
    margin-top: .125rem;
    font-size: 1.5rem;
    text-align: center;
}

#contactoNavegador{
    margin-top: .9375rem;
    font-size: 1.5rem;
    text-align: center;
}


/*Aquí terminan los estilos del navegador*/

#carrusel{
    height:25.75rem;
    width: 100%;
    background-color: lightgreen;
}

/* Aquí comienzan los estilos de la presentación */

#presentación{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 35.3125rem;
    width: vw;
    background-color: rgb(255, 255, 255);
    padding: 0%;
    
}

#globo {
    background-image:url("archivos/Logos/logo\ proyecto.png");
    background-size: 55%;
    background-repeat: no-repeat;
    grid-row-start: 1;
    grid-row-end: 4;
    background-position: center;
}

.padding {
    padding-left: 10%;
}

#somos {
    background-color: white;
    color:#467599;
    font-family: 'Inria Sans';
    font-size: 3rem;
   text-: center;
    justify-content: left;
    
    
}

#somosA {
    padding-top: 3%;
}

#somosB {
    padding-left: 15%;
}

#nuestraMeta {
    background-color: white;
    color:#467599;
    font-family: 'Inria Sans';
    font-size: 2.5625rem;
    text-align: center;
}

#diseñamos {
    background-color: white;
    color:#467599;
    font-family: 'Inria Sans';
    font-size: 3rem;
    text-align: right;
    padding-left: 15%;
}



/* aquí terminan los estilos de la presentación */
    

#servicios{
    height: 28rem;
    width: 100%;
    background-color: lightgray;
}

#equipoReseñas{
    height: 23.125rem;
    width: 100%;
    background-color: lightgoldenrodyellow;
}

footer{
    height: 8.5625rem;
    width: 100%;
    background-color: lightskyblue;
}